# Ignorar ambientes virtuais
venv/
env/

# Ignorar cache do pytest
.pytest_cache/

# Ignorar diretórios __pycache__
__pycache__/

# Ignorar arquivos de log e temporários
*.log
*.tmp
*.pid

# Ignorar arquivos de variáveis de ambiente
.env

# Ignorar arquivos do sistema operacional
.DS_Store
Thumbs.db

# Ignorar arquivos do editor/IDE
.vscode/
.idea/

# Ignorar dependências baixadas localmente
*.egg-info/
pip-wheel-metadata/

# Ignorar arquivos compilados do Python
*.pyc
*.pyo
*.pyd

# Ignorar arquivos de teste ou resultados temporários
test-output/
